<mat-toolbar>
  <button mat-icon-button>
    <mat-icon>menu</mat-icon>
  </button>
  <span>Jobsity challenge</span>
  <span class="spacer"></span>
  <button mat-button (click)="openReminderForm()">
   <mat-icon>add</mat-icon> New reminder
 </button>
</mat-toolbar>

<!-- Create the calendar here -->
<!-- ======================== -->

<table cellspacing="0" cellpadding="0">
  <tr>
    <th *ngFor="let day of DAYS">{{day}}</th>
  </tr>
  <tr *ngFor="let week of calendarArr">
    <td *ngFor="let day of DAYS; index as i" [ngClass]="setDayClass(week[i])">
      {{week[i].day}}
    </td>
  </tr>
</table>
